<nav class="grey darken-3">
  <div class="nav-wrapper container">
    <a href="/profile" class="brand-logo left">EZCasting</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger
    show-on-large right"><i class="fas fa-bars"></i></a>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/actorsList">For Casting Directors</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>